.main {
	background-image: url(../../images/loginbackground.jpg);
	height: 638px;
}

.loginRow {
	margin-top: 15%;
}

.authenticate {
	margin-top: 100px;
}

.errorMessage {
	color: white;
	font-weight: 600;
	font-variant: small-caps;
}
